html
  head
    title wrong!
    meta(charset="utf-8")
    link(rel='stylesheet', href='/stylesheets/error.css')
  body
    h1 오류
    h2= message
    img(src="http://m1.daumcdn.net/cfile202/image/26548A3752E0CEC82691CB")