html
    head
        title Your FileBlog, F.LOG
        meta(charset="utf-8")
        link(rel='stylesheet', href='/stylesheets/index.css')
    body
        div(id='body')
            header(id='head')
                h1(id='title') F.LOG
            article(id='article')
                h2(id="welcome") Welcome to F.LOG
                p(id="link")
                    a(href="./sign") signin or signup
                
            footer(id="foot")
                span(id="information") developed by JinhyeokBang