@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
    margin: 0px;
    background-color: white;
    font-family: "Nanum Gothic", sans-serif;
    font-weight: bold;
}

.block {
    width: 30vw;
    height: 30vw;
    float: left;
    border: 1vw solid black;
    margin: 0.3vw;
}

h1 {
    width: 30vw;
    height: 5vw;
    text-align: center;
}

p {
    width: 30vw;
    height: 10.5vw;
    text-align: center;
}

button {
    width:30vw;
    height:5vw;
    background-color: white;
    border: none;
    border-top: 0.5vw solid black;
}

@media screen and (max-width: 800px) {
    .block {
        width: 98vw;
    }

    button {
        width: 98vw;
    }

    h1 {
        width: 98vw;
        font-size: 20px;
    }

    p {
        width: 98vw;
        height: 5vw;
    }
}