<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="initial-scale=1, width=device-width"/>
    <meta name="theme-color" content="#000000"> 
    <link rel="stylesheet" href="stylesheets/404.css"/>
    <link rel="stylesheet" href="stylesheets/siteHeader.css"/>
    <link rel="stylesheet" href="stylesheets/font.css"/>
  </head>
  <body>
    <header id="site_header">
      <h1 id="site_siteName">LastBranch<a class="headerLink" id="firstHeaderLink" href="/">post</a><a class="headerLink" href="/gallery">gallery</a></h1>
    </header>
    <div class="noneBlock"></div>
    <article>
      <img src="https://lastbranch.herokuapp.com/404.jpg" alt="">
      <br>
      <p>
        404 Not Found
      </p>
    </article>
    <script src="javascripts/siteHeader.js"></script>
  </body>
</html>