<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="initial-scale=1, width=device-width"/> 
    <meta name="theme-color" content="#000000"> 
    <link rel="stylesheet" href="stylesheets/timeline.css"/>
    <link rel="stylesheet" href="stylesheets/siteHeader.css"/>
    <link rel="stylesheet" href="stylesheets/font.css"/>
  </head>
  <body>
    <header id="site_header">
      <h1 id="site_siteName">LastBranch<a class="headerLink" id="firstHeaderLink" href="/">post</a><a class="headerLink" href="/gallery">gallery</a></h1>
    </header>
    <div class="noneBlock"></div>
    <article id="contentsArticle">
      <div class="contents" id="intro">
        <h2 id="introHeader">LastBranch</h2>
        <p>
          <h3 id="introHello">Hello!</h3>
          <h4 class="introArticle">site</h4><a class="introLink" href="http://www.github.com/lastBranch02"><h4>github</h4></a><br/><a class="introLink" href="https://www.facebook.com/lastBranch02"><h4>facebook</h4></a>
          <h4 class="introArticle">email</h4><a class="introLink"><h4>hyeki0206@naver.com</h4></a><br/><a class="introLink"><h4>lastbranch02@gmail.com</h4></a>
        </p>
      </div>
    </article>
    <script src="javascripts/timeline.js"></script>
    <script src="javascripts/siteHeader.js"></script>
  </body>
</html>