<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="initial-scale=1, width=device-width"/> 
    <meta name="theme-color" content="#000000"> 
    <link rel="stylesheet" href="stylesheets/siteHeader.css"/>
    <link rel="stylesheet" href="stylesheets/font.css"/>
  </head>
  <body>
    <header id="site_header">
      <h1 id="site_siteName">LastBranch<a class="headerLink" id="firstHeaderLink" href="/">post</a><a class="headerLink" href="/gallery">gallery</a></h1>
    </header>
    <div class="noneBlock"></div>

    <form action="https://lastbranchpost.herokuapp.com/upload">
      <input type="text" name="title">
      <br>
      <textarea type="text" name="description" rows="8" cols="100">
        <header>
            <h1 id="contents_titleName"></h1>
            <span id="contents_day">
                10/01/01
            </span>
        </header>
        <hr>
        <article>
            <pre class="contents_text">

            </pre>
            <br>
            <pre class="contents_text">

            </pre>
        <footer>
            <nav id="contents_link">
                Link: http://lastbranch02.herokuapp.com
            </nav>
        </footer>
      </textarea>
      <br>
      <input type="submit">
    </form>
    <script src="javascripts/siteHeader.js"></script>
  </body>
</html>