body {
    background-color: rgb(230, 230, 230);
    margin: 0px;
}

h1 {
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 2vw;
}

article {
    margin: 3vw;
    width: 40.6vw;
    margin-left: 29.7vw;
    margin-top: -2vw;
    background-color: white;
    box-shadow: 5px 5px 3px silver;
}

img {
    width: 40vw;
    height: 40vw;
    margin: 0.3vw;
    border: 0.05vw solid silver;
}

p {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    margin-top: 0px;
}