body {
  margin: 0px;
}

#body {
  background-color: rgb(220, 220, 220);
  min-height: 1000px;
  margin: 0px;
  margin-bottom: -30px;
}

#head {
  width: 100%;
  height: 50px;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 5px rgb(144, 144, 144);
}

#title {
  text-align: center;
  border: 0px;
}

#article {
  margin-top: 10px;
}

#foot {
  width: 100%;
  height: 20px;
  background-color: rgb(100, 100, 100);
  padding: 5px;
  padding-right: 0px;
  padding-left: 0px;
}

#information {
  text-align: center;
}

.contents {
  background-color: rgb(180, 180, 180);
  width: 96%;
  margin-left: 2%;
  box-shadow: 5px 5px 5px rgb(144, 144, 144);
}

.contentsHeader {
  background-color: rgb(162,162,162);
}

.contentsTitle {
  text-align: center;
  padding: 5px;
}

.contentsTime {
  margin-left: 20px;
}

.contentsDescription {
  margin-left: 20px;
  padding: 10px;
}

.contentsFiles {
  margin-left: 20px;
}